[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django-ratelimit = "==3.0.0"
djangorestframework = "==3.11.0"
pytz = "==2020.1"
sqlparse = "==0.3.1"
psycopg2 = "*"
requests = "*"
gunicorn = "==19.9.0"
Django = "==3.1.6"

[requires]
python_version = "3.7"
